<div class="content">
    <h1>Mensa</h1>
    <p>Aktuelles Guthaben: {{ getRoundedEurPrice(balance) }}€ ({{ balance }} MIOTA)</p>
    <main *ngIf="state === 'loading'">
      <mat-spinner></mat-spinner>
      <div class="mobile-space desktop-space"></div>
      <div class="white-text">{{ this.loadingState }}</div>
    </main>
    <main *ngIf="state === 'menu'">
        <form>
            <div class="thin"></div>
            <button mat-raised-button color="primary" routerLink="/home">Home</button>
            <div class="thin"></div>
        </form>
        <div class="mobile-space desktop-space"></div>  
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="logo"></div>
                <mat-card-title>Hirschgulasch mit Preiselbeeren
                </mat-card-title>
                <mat-card-subtitle>Preis: {{ getRoundedEurPrice(20) }}€ (20 MIOTA)</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://meine-mensa.de/mediathek/2YDJ03PkzAEBxgMwUD3Vfq4XGnu6gaNXA7N0NyWy.jpg_medium.png" alt="Photo of the food">
            <!-- <mat-card-content>
                <p color="black">

                </p>
            </mat-card-content> -->
            <mat-card-actions>
                <button mat-button (click)="buy(20)">KAUFEN</button>
            </mat-card-actions>
        </mat-card>
        <div class="mobile-space desktop-space"></div>
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar></div>
                <mat-card-title>Riesen-Currywurst mit Tomaten-Currysauce und Krautsalat
                </mat-card-title>
                <mat-card-subtitle>Preis: {{ getRoundedEurPrice(30) }}€ (30 MIOTA)</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://meine-mensa.de/mediathek/4TYx8vuiiiwqYSlTVfxwBKfrdRK2uiUpi9fcpVpy.jpg_medium.png" alt="Photo of the food">
            <!-- <mat-card-content>
                <p color="black">

                </p>
            </mat-card-content> -->
            <mat-card-actions>
                <button mat-button (click)="buy(30)">KAUFEN</button>
            </mat-card-actions>
        </mat-card>
        <div class="mobile-space desktop-space"></div>
    </main>
    <main *ngIf="state === 'purchaseSuccess'">
        <p>Der Kauf war erfolgreich. Guten Hunger!</p>
    </main>
</div>