<div class="content">
    <h1>Mensa</h1>
    <p>Aktuelles Guthaben: {{ balance }} MIOTA</p>
    <main>
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="logo"></div>
                <mat-card-title>Hirschgulasch mit Preiselbeeren
                </mat-card-title>
                <mat-card-subtitle>Preis: 20 MIOTA</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://meine-mensa.de/mediathek/2YDJ03PkzAEBxgMwUD3Vfq4XGnu6gaNXA7N0NyWy.jpg_medium.png" alt="Photo of the food">
            <!-- <mat-card-content>
                <p color="black">

                </p>
            </mat-card-content> -->
            <mat-card-actions>
                <button mat-button>KAUFEN</button>
            </mat-card-actions>
        </mat-card>
        <div class="mobile-space desktop-space"></div>
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar></div>
                <mat-card-title>Riesen-Currywurst mit Tomaten-Currysauce und Krautsalat
                </mat-card-title>
                <mat-card-subtitle>Preis: 30 MIOTA</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://meine-mensa.de/mediathek/4TYx8vuiiiwqYSlTVfxwBKfrdRK2uiUpi9fcpVpy.jpg_medium.png" alt="Photo of the food">
            <!-- <mat-card-content>
                <p color="black">

                </p>
            </mat-card-content> -->
            <mat-card-actions>
                <button mat-button>KAUFEN</button>
            </mat-card-actions>
        </mat-card>
        <div class="mobile-space desktop-space"></div>
    </main>
</div>