<div class="content">
    <h1>Registrieren</h1>
    <p>Falls du bereits eine Identität hast, <a routerLink="/login">logge dich hier ein</a>.</p>
    <main>
        <form #register="ngForm" [ngFormOptions]="{updateOn: 'change'}" (ngSubmit)="log(register.value)">
            <mat-form-field appearance="fill">
              <mat-label>Vorname/n</mat-label>
              <input matInput placeholder="Max" name="first-names" required ngModel>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Nachname</mat-label>
              <input matInput placeholder="Mustermann" name="last-name" required ngModel>
            </mat-form-field>
            <mat-form-field class="wide" appearance="fill">
              <mat-label>Straße</mat-label>
              <input matInput placeholder="Münchener Heidestraße" name="adress-1" required ngModel>
            </mat-form-field>
            <mat-form-field class="thin" appearance="fill">
              <mat-label>Hausnr.</mat-label>
              <input matInput type="number" placeholder="17" name="adress-2" required ngModel>
            </mat-form-field>
            <mat-form-field class="thin" appearance="fill">
              <mat-label>PLZ</mat-label>
              <input matInput type="number" placeholder="06366" name="adress-3" required ngModel>
            </mat-form-field>
            <mat-form-field class="wide" appearance="fill">
              <mat-label>Ort</mat-label>
              <input matInput placeholder="Münchener Heidestraße" name="adress-4" required ngModel>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Geburtsdatum</mat-label>
              <input matInput [matDatepicker]="datepicker" name="birthday" required ngModel>
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
              <mat-datepicker #datepicker>
                <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel>Abbrechen</button>
                  <button mat-raised-button color="primary" matDatepickerApply>Auswählen</button>
                </mat-datepicker-actions>
              </mat-datepicker>
            </mat-form-field>
            <div class="image-upload">
                <label for="file-input">Hochschulzugangsberechtigung</label>
                <input
                  id="file-input"
                  type="file"
                  accept=".pdf, application/pdf"
                  name="qualification"
                  #qualificationInput
                  (change)="log(qualificationInput.files)" required ngModel>
            </div>
            <div class="thin"></div>
            <button mat-raised-button color="primary" type="submit" [disabled]="!register.valid">Absenden</button>
            <div class="ultrawide mobile-space"></div>
          </form>
          <!-- <div style="margin-top: 100px; color: white;">{{ register.value | json }}</div> -->
        </main>
      </div>