<div class="content">
    <img src="../../assets/HSA_Logo_digital_RGB_1000px_transparent.png">
    <p>Herzlich Willkommen!</p>
    <main>
        <form>
            <div class="thin"></div>
            <button mat-raised-button color="primary" routerLink="/login">Login</button>
            <div class="thin"></div>
        </form>
        <div class="mobile-space desktop-space"></div>
        <form>
            <div class="thin"></div>
            <button mat-raised-button color="primary" routerLink="/register">Registrieren</button>
            <div class="thin"></div>
        </form>
      </main>
</div>