<div class="content">
    <img src="../../assets/HSA_Logo_digital_RGB_1000px_transparent.png">
    <h1>Home</h1>
    <main>
        <form>
            <div class="thin"></div>
            <button mat-raised-button color="primary" routerLink="/mensa">Mensa</button>
            <div class="thin"></div>
        </form>
        <div class="mobile-space desktop-space"></div>
        <form>
            <div class="thin"></div>
            <button mat-raised-button color="warn" id="logout-button" (click)="logout()">Logout</button>
            <div class="thin"></div>
        </form>
        <!-- <p>{{ loggedIn }}</p> -->
        <!-- <div class="mobile-space desktop-space"></div> -->
        <!-- <button mat-raised-button color="primary" (click)="apiTest()">API Test</button> -->
    </main>
</div>