<div class="content">
  <img src="../../assets/HSA_Logo_digital_RGB_1000px_transparent.png" />
  <h1>Immatrikulation</h1>
  <main *ngIf="state === 'loading'">
    <mat-spinner></mat-spinner>
    <div class="mobile-space desktop-space"></div>
    <div class="white-text">{{ this.loadingState }}</div>
  </main>
  <main *ngIf="state === 'registerStudySubject'">
    <p>{{ errorMessage }}</p>
    <p>
      Wähle deinen gewünschten Studiengang. Im Anschluss wirst du an den Keeper weitergeleitet, um die Immatrikulation
      abzuschließen.
    </p>
    <form
      #registerUniversity="ngForm"
      [ngFormOptions]="{ updateOn: 'change' }"
      (ngSubmit)="registerStudySubject(registerUniversity.value.studySubject)"
    >
      <div class="thin"></div>
      <mat-form-field appearance="fill">
        <mat-label>Gewünschter Studiengang</mat-label>
        <mat-select name="studySubject" ngModel required>
          <div *ngFor="let subject of studySubjects">
            <mat-option value="{{ subject }}">{{ subject }}</mat-option>
          </div>
        </mat-select>
      </mat-form-field>
      <div class="thin"></div>
      <div class="thin"></div>
      <button mat-raised-button color="primary" type="submit" [disabled]="!registerUniversity.valid">Absenden</button>
      <div class="thin"></div>
      <!-- <div class="ultrawide mobile-space"></div> -->
    </form>
    <!-- <div style="margin-top: 100px; color: white;">{{ register.value | json }}</div> -->
  </main>
</div>
